@font-face {
    font-family: CutiveMono;
    src: url("CutiveMono-Regular.ttf");
}

body {
    color: #11100e;
    background: #f6eee3;
    font: 100% system-ui;
    font-family: CutiveMono, monospace;
    display: flex;
}

main {
    margin: auto;
    max-width: 80%;
}

pre {
    border-color: #11100e;
    border-style: dotted;
    padding: 1em;
    overflow: auto;
}

#post-list > .post-item {
    margin: 0.5em;
}

#page-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 0.5em;
}

.meta {
    text-align: right;
}

.markdown {
    border-top: medium dashed;
    border-top-color: #d90b36;
}

h1,
h2,
h3,
h4 {
    color: #d90b36;
}

a {
    color: #0033cc;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f6eee3;
        background: #11100e;
    }

    a {
        color: #f6eee3;
    }

    pre {
        border-color: #f6eee3;
    }
}
